.input {
    height: 25px;
    width: 350px;
    font-size: 1.1rem;
    color: black;
    font-weight: 300;
    border: solid 1px #ddd;
    border-radius: 3px;
    display: block;
    margin: 10px 0;
}

.container {
    min-width: 400px;
    color: black;
}

.button {
    width: auto;
}
