.button {
    height: 2.5em;
    line-height: 2.5em;
    border-radius: 1.25em;
    font-weight: 300;
    color: #fff;
    margin: 0.5em;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

.light {
    background-color: #555;
}

.dark {
    background-color: #333;
    border: solid 1px #555;
}
