.button {
    line-height: 2.5em;
    border-radius: 1.25em;
    font-weight: 300;
    color: #fff;
    margin: 0.2em 0;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    width: 100%;
    padding: 0 2rem;
}

.light {
    background-color: #555;
}

.small {
    max-width: 100px;
    background-color: #555;
    padding: 0px;
}

.loaderContainer {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    border: 5px solid #979797;
    border-radius: 50%;
    border-top: 5px solid #ffffff;
    width: 25px;
    height: 25px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.small:hover {
    background-color: #484848;
}

.light:hover {
    background-color: #484848;
}

.darkWithBorder {
    background-color: #333;
    border: solid 1px #555;
}

.darkWithBorder:hover {
    background-color: #2f2f2f;
    border: solid 1px #555;
}

.lightWithBorder {
    background-color: #555;
    border: solid 1px #999;
}

.lightWithBorder:hover {
    background-color: #484848;
    border: solid 1px #999;
}

.lightWithBorderDisabled {
    background-color: #555;
    border: solid 1px #999;
}

.lightRedWithBorder {
    color: #b97878;
    background-color: #555;
    border: solid 1px #999;
}

.lightRedWithBorder:hover {
    color: #b97878;
    background-color: #484848;
    border: solid 1px #999;
}

.disabled {
    cursor: default;
    color: #8c8c8c;
}
