.topBar {
    height: 60px;
    width: 100%;
    color: #aaa;
    display: flex;
    align-items: center;
}

.main {
    height: 100%;
    width: 100%;
    display: flex;
}

.sideBar {
    flex: 0 1 335px;
    background: #555;
    color: #aaa;
    overflow-y: scroll;
}

.sideBarContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;
    padding-bottom: 3rem;
}

.container {
    height: 100vh;
}

.mainMap {
    flex: 1 1 auto;
    position: relative;
}
