.topBar {
  height: 60px;
  width: 100%;
  color: #aaa;
  display: flex;
  align-items: center;
}

.logo {
  flex: 0 0 320px;
  height: 40px;
}

.main {
  height: 100%;
  width: 100%;
  display: flex;
}

.sideBar {
  flex: 0 0 320px;
  background: #555;
  color: #aaa;
}

.mainMap {
  flex: 1;
}
