.container {
    display: flex;
    flex-direction: row;
    border-bottom: solid;
    border-width: 1px;
    border-color: #ddd;
    padding: 5px 0;
    color: black;
}

.container button {
    flex-basis: 25%;
    align-self: flex-end;
    margin: auto;
}

.container .text {
    flex-basis: 75%;
}

.container:last-of-type {
    border: none;
}

.itemName {
    font-weight: 600;
}

.buttons {
    align-self: center;
}

.buttons button {
    height: 30px;
    line-height: 30px;
    margin: 2px;
    border-radius: 5px;
}

.log {
    width: 500px;
    color: black;
}

.log p {
    font-size: 14px;
}

.pill {
    border-radius: 10px;
    padding: 0px 16px;
    font-size: 10px;
    margin-left: 10px;
    margin-bottom: 19px;
    box-shadow: 0px 0px 1px black;
}
