.container {
  display: flex;
  flex-direction: row;
  border-bottom: solid;
  border-width: 1px;
  border-color: #ddd;
  padding: 5px 0;
}

.container button {
  flex-basis: 25%;
  align-self: flex-end;
  margin: auto;
}

.container .text {
  flex-basis: 75%;
}

.container:last-of-type {
  border: none;
}

.itemName {
  font-weight: 600;
}