.sideBar {
    background: #555;
    color: #aaa;
    display: flex;
    flex-direction: column;
}

.modeSelector {
    padding: 10px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: #717171;
}

.modeSelector > button {
    width: 100%;
    cursor: pointer;
}

.configSubtitle {
    padding: 0.5em 0.5em 0 0.5em;
    background-color: #333;
}
